.button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: aquamarine;
    color: coral;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.object{width:50px;height:50px;background-color:black}

.text{color:pink}.text:hover{font-weight:bold;cursor:pointer;color:lightsalmon}

